.chat_main
  .main_header
    .main_header_box
      .main_header_leftbox
        %h2.main_header_title
          = @group.name
        %ul.main_header_member
          - @group.users.each do |user|
            = user.name
    = link_to "#" do
      .main_header_btn
        = link_to "Edit", edit_group_path(params[:group_id]), class:"right-header__btn", method: :get
  .main_chat
    = render @messages
         
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'